.navbar {
  background-color: #e56b1e;
  min-height: 80px;
}
.navbar .nav-link {
  color: #2c1a1d !important;
  font-weight: bold;
}
.navbar .navbar-brand {
  color: #4158b4 !important;
  font-size: 10vw;
  font-weight: bold;
}

.jumboPoco {
  background-image: url(../img/dna-163466_1280.jpg);
  background-size: cover;
  background-position: center;
}

.upa17 {
  background-image: url(../img/team-4529717_1280.jpg);
  background-size: cover;
  background-position: center;
}
.upa17 p {
  font-size: 20px;
  font-weight: bold;
  color: #e56b1e;
  -webkit-text-stroke: 1px black;
}
.upa17 h2 {
  color: #4158b4;
  -webkit-text-stroke: 1px black;
  font-weight: bold;
}

@media screen and (min-width: 576px) {
  .navbar-brand {
    font-size: 50px;
  }
  .collapse {
    display: flex;
    justify-content: flex-end;
  }
}
@media screen and (min-width: 992px) {
  .navbar {
    font-size: 20px;
  }
  .navbar .navbar-brand {
    font-size: 70px;
  }
  .navbar .collapse {
    display: flex;
    justify-content: flex-end;
  }
}
.jumboc {
  background-image: url(../img/mitosis-3876669_1280.jpg);
  background-size: cover;
}

.footer {
  background-color: #e56b1e;
}
.footer .redes a {
  padding: 15px;
  font-size: 20px;
}

.column {
  width: 33, 3%;
  max-width: 100%;
  display: flex;
  padding: 5px;
}

.serv1 {
  background-image: url(../img/servicios/guardia.jpg);
  background-size: cover;
}

.serv2 {
  background-image: url(../img/servicios/guardiap.jpg);
  background-size: cover;
}

.serv3 {
  background-image: url(../img/servicios/labs.jpg);
  background-size: cover;
}

.serv4 {
  background-image: url(../img/servicios/terapia.jpg);
  background-size: cover;
}

.serv5 {
  background-image: url(../img/servicios/nutricion.jpg);
  background-size: cover;
}

.serv6 {
  background-image: url(../img/servicios/kinesiologia.jpg);
  background-size: cover;
}

.serv7 {
  background-image: url(../img/servicios/traumato.jpg);
  background-size: cover;
}

.serv8 {
  background-image: url(../img/servicios/vacunatorio.jpg);
  background-size: cover;
}

.serv9 {
  background-image: url(../img/servicios/laboratorio.jpg);
  background-size: cover;
}

.serv10 {
  background-image: url(../img/servicios/comunidad.jpg);
  background-size: cover;
}

.carousel-caption {
  color: black;
  font-weight: bold;
}

.ancho, .contactoFondo, .fondoNoticias {
  background-color: #48a9a6;
}

section, .ancho, .historiaFondo, .hm10Fondo {
  background-image: url(../img/61802.jpg);
  background-size: cover;
}

.fondoServicios {
  background-image: url(../img/61802.jpg);
  background-size: cover;
}

.imageContainer {
  position: relative;
  overflow: hidden;
}
.imageContainer img {
  display: block;
  width: 100%;
  height: auto;
  transition: filter 0.5s ease;
}

.grayscale-on-hover {
  filter: grayscale(100%);
}

.grayscale-on-hover:hover {
  filter: grayscale(0%);
}

.textoParrafo {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.hm10Fondo {
  min-height: 700px;
}

/*# sourceMappingURL=style.css.map */
